@import "compass";

td.layoutSidebar {
  background: image-url('part_sidebar.png') 0 0 scroll transparent repeat-y;

  .sidebar {
    width: 308px;
    background: image-url("bg_sidebar.png") 0 0 transparent no-repeat;
    overflow: hidden;
    color: white;
    vertical-align: top;

    .content {
      padding: 20px;
      padding-left: 20px;
      padding-right: 22px;

      a {
        color: white;
        &:hover {
          text-decoration: none;
        }
      }

      h1 {
        font-size: 42px;
        font-weight: bold;
        padding-bottom: 33px;
        margin-left: -1px;
        padding-top: 10px;
      }

      h2 {
        font-size: 16px;
        font-weight: bold;
      }

      .about {
        padding-bottom: 15px;
        border-bottom: 1px solid #F1A953;
        padding-left: 15px;

        h1 {
          a {
            text-decoration: none;
            &:hover {
              text-decoration: underline;
            }
          }
        }

        p {
          line-height: 20px;
          padding-top: 15px;
        }
      }

      .follow {
        padding-top: 20px;
        padding-left: 15px;
        a {
          margin-right: 5px;
          margin-top: 10px;
          img {
            opacity: 0.7;
            &:hover {
              opacity: 1;
            }
          }
        }
        h2 {
          padding-bottom: 15px;
        }
      }

      .projects {
        h2 {
          width: 100%;
          margin-top: 25px;
          padding-left: 15px;
        }

        .list {
          background-color: rgba(0,0,0,0.15);
          margin-top: 14px;
          width: 251px;
          border: 1px solid #F1A953;
          @include border-radius(8px);
          padding-bottom: 20px;
          padding-right: 14px;

          a {
            font-weight: bold;
            font-family: Arial, 'Sans-serif';
            text-decoration: none;
            border-bottom: 1px white solid;
          }

          p {
            padding-top: 3px;
            font-size: 13px;
            line-height: 15px;
          }

          .project {
            min-height: 40px;
            padding-left: 14px;
            padding-top: 15px;

            a:hover {
              border-bottom: 0px solid white;
            }
          }

          .joosy {
            padding-left: 80px;
            background: image-url('logos/joosy.png') no-repeat;
            background-position: 16px 18px;
          }

          .roundbank {
            padding-left: 80px;
            background: image-url('logos/roundbank.png') no-repeat;
            background-position: 16px 13px;
          }

          .smartkiosk {
            padding-left: 80px;
            background: image-url('logos/smartkiosk.png') no-repeat;
            background-position: 16px 6px;
          }

          .rove {
            margin-top: 15px;
            padding-top: 15px;
            border-top: 1px solid #F1A953;
            width: 100%;
          }
        }
      }
    }
  }
}