td.layoutSidebar {
  background: url('/images/part_sidebar.png') 0 0 scroll transparent repeat-y;

  .sidebar {
    width: 308px;
    background: url("/images/bg_sidebar.png") 0 0 transparent no-repeat;
    overflow: hidden;
    color: white;
    display: inline-block;
    vertical-align: top;

    .content {
      padding: 20px;
      padding-left: 20px;
      padding-right: 22px;

      a {
        color: white;
        &:hover {
          text-decoration: none;
        }
      }

      p {
        line-height: 20px;
        padding-top: 15px;
      }

      h1 {
        font-size: 42px;
        font-weight: bold;
        padding-bottom: 33px;
        margin-left: -1px;
        padding-top: 10px;
      }

      h2 {
        font-size: 16px;
        font-weight: bold;
      }

      .about {
        padding-bottom: 15px;
        border-bottom: 1px solid #F1A953;
        padding-left: 15px;
      }

      .follow {
        padding-top: 20px;
        padding-left: 15px;
        a {
          display: inline-block;
          margin-right: 5px;
          margin-top: 10px;
          img {
            opacity: 0.7;
            &:hover {
              opacity: 1;
            }
          }
        }
        h2 {
          padding-bottom: 8px;
        }
      }

      .projects {
        margin-top: 40px;
        height: 240px;
        width: 267px;
        background: url("/images/round_border.png") 0 0 transparent no-repeat;
        position: relative;
        padding-top: 8px;

        h2 {
          position: absolute;
          top: -16px;
          padding: 5px;
          left: 11px;
        }

        a {
          font-weight: bold;
          font-family: Arial, 'Sans-serif';
          text-decoration: none;
          border-bottom: 1px white solid;
        }

        p {
          padding-top: 3px;
          font-size: 13px;
        }

        .oneLine {
          padding-left: 14px;
          padding-top: 15px;

          a:hover {
            border-bottom: 0px solid white;
          }
        }
      }
    }
  }
}