---
layout: default
title: Category
---


<table class="archiveTable" cellspacing="0" cellpadding="0">
  <tbody>
    {% for post in site.categories[page.category] reverse %}
    <tr>
      {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
      {% if year != this_year %}
        {% assign year = this_year %}
        <td><div class="year">{{ year }}</div></td>
      {% else %}
        <td></td>
      {% endif %}
      <td>
        <a class="head" href="{{ root_url }}{{ post.url }}">{{ post.title }}</a>
        <time>{{ post.date | date: "%b %d" }} | {{ post.categories | category_links }}</time>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>