{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="author" content="{{ site.author }}">
  {% capture description %}{% if page.description %}{{ page.description }}{% else %}{{ content | raw_content }}{% endif %}{% endcapture %}
  <meta name="description" content="{{ description | strip_html | condense_spaces | truncate:150 }}">
  {% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}">{% endif %}
  {% capture canonical %}{{ site.url }}{% if site.permalink contains '.html' %}{{ page.url }}{% else %}{{ page.url | remove:'index.html' }}{% endif %}{% endcapture %}
  <link rel="canonical" href="{{ canonical }}">
  <link href="{{ root_url }}/favicon.ico" rel="icon">
  <link href="{{ root_url }}/stylesheets/screen.css" rel="stylesheet" type="text/css">
  <link href="{{ site.subscribe_rss }}" rel="alternate" title="{{ site.title }}" type="application/atom+xml">
  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
</head>
<body>
  <table class="layoutTable" cellspacing="0" cellpadding="0">
    <tbody>
      <tr>
        <td class="layoutSidebar" >
          <div class="sidebar">
            <div class="content">
              <div class="about">
                <img src="/images/bs_ava.png" alt="Boris Staal">
                <h1>Boris Staal</h1>
                <h2>About me</h2>
                <p>
                  I'm Boris Staal, managing geek ಠ_ಠ<br/> working at <a href="http://roundlake.ru">RoundLake</a>.
                  I do open-source and make ppl smile.
                </p>
              </div>
              <div class="follow">
                <h2>So follow up!</h2>
                <a href="https://twitter.com/_inossidabile"><img src="/images/s_twitter.png" alt="Boris Staal"></a>
                <a href="http://facebook.com/boris.staal"><img src="/images/s_facebook.png" alt="Boris Staal"></a>
                <a href="http://github.com/inossidabile"><img src="/images/s_cat.png" alt="Boris Staal"></a>
                <a href="skype://inossidabile."><img src="/images/s_skype.png" alt="Boris Staal"></a>
              </div>
              <div class="projects">
                <h2>My projects</h2>
                <div class="oneLine">
                  <a href="#">Smartkiosk</a>
                  <p>The best free phone number reverse</p>
                </div>
                <div class="oneLine">
                  <a href="#">Roundbank</a>
                  <p>The best free phone number reverse</p>
                </div>
                <div class="oneLine">
                  <a href="#">Joosy</a>
                  <p>The best free phone number reverse</p>
                </div>
                <div class="oneLine">
                  <a href="#">WashOut</a>
                  <p>The best free phone number reverse</p>
                </div>
              </div>
            </div>
          </div>
        </td>
        <td class="layoutContent">
          <div class="header">
            <ul>
              <li 
                {% if page.url == "/index.html" %}
                  class="active"
                {% endif %}
                >
                <a href="/">Blog</a>
              </li>
              <li
                {% if page.url == "/blog/archives/index.html" %}
                  class="active"
                {% endif %}
                >
                <a href="{{ root_url }}/blog/archives">Archives</a>
              </li>
            </ul>
          </div>
          <div class="content">
            {{ content | expand_urls: root_url }}
          </div>
          <div class="footer"></div>
        </td>
      </tr>
    </tbody>
  </table>
</body>
</html>