---
layout: default
single: true
---

<div class="post">
  <div class="button">
    <span>&larr;</span>
    <a href="/">Back to entries</a>
  </div>

  <article>
    <h1>{{ page.title }}</h1>
    <time>{{ page.date | date: "%b %d, %Y" }} | {{ page.categories | category_links }}</time>
    {{ content }}
  </article>

  {% include disqus.html %}
  {% if site.disqus_short_name and page.comments == true %}
    <section class="comments">
      <div id="disqus_thread" aria-live="polite"></div>
    </section>
  {% endif %}
</div>
