---
layout: default
single: true
---

<div class="post">
  <div class="button">
    <span>&larr;</span>
    <a href="/">Back to entries</a>
  </div>

  <article>
    <h1>{{ page.title }}</h1>
    {% include date.html %}{{ time }}
    {{ content }}
  </article>

  {% include disqus.html %}
  {% if site.disqus_short_name and page.comments == true %}
    <section class="comments">
      <div id="disqus_thread" aria-live="polite"></div>
    </section>
  {% endif %}
</div>

<div class="codeBlock">
<div class="bodyBlock">
  <table cellspacing="0" cellpadding="0">
    <tbody>
      <tr>
        <td>
            <div>1</div>
            <div>2</div>
            <div>3</div>
            <div>4</div>
            <div>5</div>
        </td>
        <td width="100%">
          <div>require 'san_juan'</div>
          <div>&nbsp;</div>
          <div>require 'blog'</div>
          <div>&nbsp;</div>
          <div>san_juan.role :app, %w(resque)</div>
        </td>
    </tr>
  </table>
</div>
  <div class="tableFooter">
    <a class="viewRaw orangeRef" href="#">View raw</a>
    <span>deploy.rb</span>
    <a class="thisGist orangeRef" href="#">This Gist</a>
    brought to you by GitHub
  </div>
</div>
