---
layout: default
single: true
---

{% include disqus.html %}
<div class="button">
    <span>&larr;</span>
    <a href="/">Back to entries</a>
</div>
<h1 class="largeTitle">{{ page.title }}</h1>
<div class="dateBlock">
  <img src="/images/orange_clock.png">
  <span class="date">{% include date.html %}{{ time }}</span>
</div>

{{ content }}

{% if site.disqus_short_name and page.comments == true %}
  <section class="comments">
    <div id="disqus_thread" aria-live="polite"></div>
  </section>
{% endif %}
<div class="codeBlock">
    <div class="bodyBlock">
        <table cellspacing="0" cellpadding="0">
            <tbody>
            <tr>
                <td><div>1</div></td>
                <td><div>require 'san_juan'</div></td>
            </tr>
            <tr>
                <td><div>2</div></td>
                <td><div> </div></td>
            </tr>
            <tr>
                <td><div>3</div></td>
                <td><div># ...</div></td>
            </tr>
            <tr>
                <td><div>4</div></td>
                <td><div> </div></td>
            </tr>
            <tr>
                <td><div>5</div></td>
                <td><div>san_juan.role :app, %w(resque)</div></td>
            </tr>
        </table>
    </div>
    <div class="tableFooter">
        <a class="viewRaw orangeRef" href="#">View raw</a>
        <span>deploy.rb</span>
        <a class="thisGist orangeRef" href="#">This Gist</a>
        brought to you by GitHub
    </div>
</div>
