---
layout: default
---

{% include twitter.html %}
<div class="index">
  {% for post in paginator.posts %}
  {% if forloop.first %}
  <article class="main">
    <h1>
      <a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a>
    </h1>
    <time>
      {{ post.date | date: "%b %d, %Y" }} | {{ post.categories | category_links }}
    </time>
    {{ post.content | excerpt }}
  </article>
  <div class="more">
    <div class="read">
      <a href="{{ root_url }}{{ post.url }}">Read more</a>
      <span>&rarr;</span>
    </div>
    <div class="comments">
      <img src="{{ root_url }}/images/comments.png">
      <a href="{{ root_url }}{{ post.url }}#disqus_thread">Comments</a>
    </div>
  </div>
  {% else %}
  {% if forloop.index == 2 %}
  <div class="olders">
  {% endif %}
    {% cycle '<ul class="olders">', '' %}
    <li class="older {% cycle 'odd', 'even' %}">
      <article>
        <h1>
          <a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a>
        </h1>
        <time>
          {{ post.date | date: "%b %d, %Y" }} | {{ post.categories | category_links }}
        </time>
        {{ post.content | excerpt }}
      </article>
      <div class="more">
        <div class="read">
          <a href="{{ root_url }}{{ post.url }}">Read more</a>
          <span>&rarr;</span>
        </div>
        <div class="comments">
          <img src="images/comments.png">
          <a href="{{ root_url }}{{ post.url }}#disqus_thread">Comments</a>
        </div>
      </div>
    </li>
    {% cycle '', '</ul>' %}
    {% if forloop.last and forloop.index > 1 %}
  </div>
  {% endif %}
  {% endif %}
  {% endfor %}
  <div class="paginator">
    {% if paginator.previous_page %}
    <div class="button">
      <img src="{{ root_url }}/images/left_arrow.png" alt="left_arrow">
      <a href="#">Older entries</a>
    </div>
    {% endif %}
    {% if paginator.next_page %}
    <div class="button">
      <a href="#">Newer entries</a>
      <img src="{{ root_url }}/images/right_arrow.png" alt="right_arrow">
    </div>
    {% endif %}
  </div>
</div>